body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
  background-color: rgb(246, 246, 246);
}

.row {
  margin-top: 3.5rem;
}


.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
